
div.composition-thumbnail img {
    border-radius: 50%;
    width:64px;
    height:64px;
}

div.composition-artist a {
    font-weight: bold;
    color: #000;
}

div.composition-release-type span {
    color: #0d6efd !important;
    font-weight: bold !important;
    margin-top: 2px;
}

div.composition-title span {
    color: #0d6efd !important;
    font-weight: bold !important;
    margin-top: 2px;
}

div.composition-date  {
    color: #6c757d;
}

ul.compositions li.composition {
    margin-top: 16px;
    margin-bottom: 16px;
}

.composition-tabs {
    margin-top: 20px;
}

.nav-tabs {
    margin-bottom: 15px;
}
