<!-- app/auth/templates/auth/unconfirmed.html -->
{% extends "base.html" %}

{% block title %}Welcome to Ragtime, {{ current_user.username }}!{% endblock %}

{% block page_content %}
<div style="padding: 2rem;">
    <h1 style="font-size: 2.5rem; margin-bottom: 0.3rem;">
        Welcome to Ragtime, {{ current_user.username }}!
    </h1>

    <hr style="border: none; margin: 1.4rem 0;">
        Your Account is Unconfirmed

    <hr style="border: none; border-top: 1px solid #ccc; margin: 1.4rem 0;">

    <p>
        We would love for you to join our community! Before you do, however, you will need to confirm your account with us first.
    </p>
    <p>
        Please check your inbox and look for an email with a confirmation link.
    </p>
    <p>
        If you need a new one, no problem! 
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a> and we will send you a new confirmation email.
    </p>
</div>
{% endblock %}




