{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block title %}Welcome - Ragtime{% endblock %}

{% block page_content %}

<!-- Header -->
<div class="page-header mb-4" style="text-align:left;">
  <h1>
    Welcome to Ragtime
    {% if current_user.is_authenticated %}
      , {{ current_user.username }}
    {% else %}
      , Anonymous
    {% endif %}
  </h1>
  <p class="lead">Discover the latest compositions!</p>
</div>

<!-- Button "Go to Songs" -->
<div class="mb-4">
  <a href="{{ url_for('main.songs') }}" class="btn btn-primary">Go to Songs</a>
</div>

<hr class="mb-4">

<!-- Composition Tabs -->
<div class="composition-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('.show_all') }}">All</a>
        </li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}>
            <a href="{{ url_for('.show_followed') }}">Followers</a>
        </li>
        {% endif %}
    </ul>
</div>

<hr class="mb-4">

<!-- Compositions List -->
    {% include '_compositions.html' %}

{% if pagination %}
  <div class="d-flex justify-content-center mt-4">
    {{ macros.pagination_widget(pagination, '.home') }}
  </div>
{% endif %}

{% endblock %}










