{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block title %}Ragtime{% endblock %}

{% block page_content %}
<h1>Welcome to Ragtime, {% if name %}{{name}}{% else %}Anonymous{% endif %}!</h1>
<div class="page-header">
    {% if not known %}
    <p>Mucho gusto! (Nice to meet you!)</p>
    {% else %}
    <p>Enjoy your stay</p>
    {% endif %}
</div>

{{ wtf.quick_form(form) }}
{% if favorite_songs %}
    <h3>My Favorite Songs:</h3>
    <ul>
        {% for song in favorite_songs %}
            {{ macros.render_song_title(song) }}
        {% endfor %}
    </ul>
{% endif %}

{% if bad_song %}
    <p>My least favorite song ever:</p>
    <ul>
        <li>{{ bad_song }}</li>
    </ul>
{% endif %}
{% endblock page_content %}




