{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Songs - Ragtime{% endblock %}

{% block page_content %}
  <div class="page-header">
    {% if current_user.is_authenticated %}
      <h1>Welcome to Ragtime, {{ current_user.username }} 🎶</h1>
    {% else %}
      <h1>Welcome to Ragtime, Anonymous 🎶</h1>
    {% endif %}
  </div>

  <h2>Compositions</h2>

  {# Form only if user can publish #}
  {% if current_user.is_authenticated and current_user.can(Permission.PUBLISH) %}
    <div class="well">
      <h3>Publish a new composition</h3>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.release_type.label }}  
          {{ form.release_type(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.title.label }}  
          {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description.label }}  
          {{ form.description(class="form-control", rows=3) }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  {% endif %}

  <!-- Compositions -->
{% include "_compositions.html" %}

{% if pagination %}
  <div class="d-flex justify-content-center mt-4">
    {{ macros.pagination_widget(pagination, '.home') }}
  </div>
{% endif %}

{% endblock %}


