{% extends "base.html" %}

{% block title %}{{ super() }} User {{ user.username }}{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block page_content %}
<div class="page-header" style="display: flex; align-items: flex-start; gap: 20px;">
    
    <img class="img-rounded profile-thumbnail" src="{{ user.unicornify() }}" alt="Profile picture" style="width:128px; height:128px;">

    <div class="profile-header">
        <h2>{{ user.username }}</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Location</th>
                    <td>{{ user.location }}</td>
                </tr>
                <tr>
                    <th scope="row">Bio</th>
                    <td>{{ user.bio }}</td>
                </tr>
                <tr>
                    <th scope="row">Last seen</th>
                    <td>{{ moment(user.last_seen).fromNow() }}</td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top: 15px;">
            {% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.admin_edit_profile', id=user.id) }}">Edit as Admin</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}


